/*--------------------------------------------Colors*/
header,
footer {
    background-color: #F4F7F5;
}


.main-page-title,
.aboutme,
.cv-title,
.portfolio-title {
    color: #F4F7F5;
}

body {
    background-color: #08090A;
}

a {
    color: black;

}

p {
    color: white;
}

.center,
.hobbies {
    color: #B0BEA9;
}

.media-title {
    color: #81A4CD;
}

.list-item,
.media-paragraphs {
    color: white;
}

/*--------------------------------------------Font, Text*/
header,
footer {
    font-family: "Roboto", "sans serif";
    text-align: center;
}

#nav {
    font-weight: 600;
}


.a {
    text-decoration: none;
    text-align: center;
    font-weight: normal;
}

.main-page-title,
.aboutme,
.cv-title,
.center,
.portfolio-title,
.media.title {
    font-family: "Cormorant Garamond", "sans serif";
    text-align: center;
}

.main-page-title {
    position: absolute;
    width: 100%;
    top: 50%;
    font-size: -webkit-xxx-large;

}

.aboutme {
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    margin: 0;
}

.cv-title {
    text-align: center;
    text-decoration: underline;
    font-size: xxx-large;
}

.center {
    text-decoration: underline;
    font-size: 40px;
}

.portfolio-title {
    text-align: center;
    text-decoration: underline;
    font-size: xx-large;
}

.fade-in-text {
    font-family: "Cormorant Garamond", "sans-serif";
    animation: fadeIn 6s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.media-paragraphs {
    text-align: center;
}

.dates {
    font-weight: bolder;
    color: #dbc4a9;
}

/*--------------------------------------------Content*/

.education-section,
.key-skills,
.work-history {
    margin-top: 0;
    margin-bottom: 1rem;
    border-style: dashed;
    border-color: #77BFA3;
}

.last-place-of-study {
    margin-bottom: 15px;
}
/*--------------------------------------------Footer*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    margin-right: 0;
    max-height: 25px;
    font-weight: 700;
}

#socials {
    position: relative;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------------------Viewports */
/*Extra large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {
    /*-----------------------------------Head Titles and Sub Headings*/
    .main-page-title {
        font-size: -webkit-xxx-large;
    }

    .center {

        font-weight: 400;
        text-align: center;
    }

    .sub-title-cv {
        padding-right: 17px;
    }

    .place-of-study {
        font-size: 17px;
    }

    .hobbies {
        text-decoration: none;
        text-align: center;
        font-weight: normal;
    }

    /*-----------------------------------Paragraphs of Text*/

    .media-paragraphs {
        font-size: large;
    }

    /*-----------------------------------Content*/
   .accordion {
        display: none;
    }

    .carousel-inner {
        position: sticky;
        width: 100%;
    }

    .education-section {
        list-style: none;
        padding-left: 25px;
    }

    .fa-spinner {
        color: #DBE4EE;
        font-size: 75px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;
        border-radius: 8px;
        width: 30px;
    }
    .gardening-statement p {
        margin-bottom: 70px;
    }

    .work-history {
        margin-bottom: 70px
    }

  .gardening-media {
        margin-bottom: 70px;
    }

    .fortnite {
        width: 45%;
        margin-left: 30px;
    }
    .warzone{
        width: 45%;
        position: absolute;
        padding-left: 12px;
    }
    .forced {
        width: 460px;
        margin-inline: auto;
    }
    
}

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /*-----------------------------------Head Titles and Sub Headings*/
    .main-page-title {
        font-size: -webkit-xxx-large;
    }

    .center {

        font-weight: 400;
        text-align: center;
    }

    .sub-title-cv {
        padding-right: 17px;
    }

    .place-of-study {
        font-size: 17px;
    }

    .hobbies {
        text-decoration: none;
        text-align: center;
        font-weight: normal;
    }

    /*-----------------------------------Paragraphs of Text*/

    .media-paragraphs {
        font-size: large;
    }

    /*-----------------------------------Content*/
   .accordion {
        display: none;
    }

    .carousel-inner {
        position: sticky;
        width: 100%;
    }

    .education-section {
        list-style: none;
        padding-left: 25px;
    }

    .fa-spinner {
        color: #DBE4EE;
        font-size: 75px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;
        border-radius: 8px;
        width: 30px;
    }
    .gardening-statement p {
        margin-bottom: 70px;
    }

    .work-history {
        margin-bottom: 70px
    }

  .gardening-media {
        margin-bottom: 70px;
    }

    .fortnite {
        width: 45%;
        margin-left: 30px;
    }
    .warzone{
        width: 45%;
        position: absolute;
        padding-left: 12px;
    }
}

/* --------------------------------------------Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    /*--------------------------------------------Navigation Bar*/
   
    #nav {
        font-size: 17px;
        height: 35px;
    }

    /*--------------------------------------------Footer*/

    .fa-brands {
        font-size: 15px;
        padding: 4px;

    }

    /*-----------------------------------Head Titles and Sub Headings*/
    .main-page-title {
        font-size: -webkit-xxx-large;

    }

    .center {

        font-weight: 400;
        text-align: center;
    }

    .sub-title-cv {
        padding-right: 17px;
    }

    .place-of-study {
        font-size: 17px;
    }

    .hobbies {
        text-decoration: none;
        text-align: center;
        font-weight: normal;
    }

    /*-----------------------------------Paragraphs of Text*/

    .media-paragraphs {
        font-size: large;
    }

    /*-----------------------------------Content*/
   .accordion {
        display: none;
    }

    .carousel-inner {
        position: sticky;
        width: 100%;
    }

    .education-section {
        list-style: none;
        padding-left: 25px;
    }

    .fa-spinner {
        color: #DBE4EE;
        font-size: 75px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;
        border-radius: 8px;
        width: 30px;
    }
    .gardening-statement p {
        margin-bottom: 70px;
    }

    .work-history {
        margin-bottom: 70px
    }

  .gardening-media {
        margin-bottom: 70px;
    }

    .fortnite {
        width: 45%;
        margin-left: 30px;
    }
    .warzone{
        width: 45%;
        position: absolute;
        padding-left: 12px;
    }
}

/*--------------------------------------------Moblie Small*/
@media (max-width: 576px) {

    /*--------------------------------------------Colour*/
    .card-header {
        background-color: #575A5E;

    }

    .btn {
        --bs-card-bg: #F4F7F5;
        color: white;
        text-decoration: none;
    }

    .mb-0 {
        text-decoration: none;
        color: white;
    }

    /*--------------------------------------------Navigation Bar*/
    #nav {
        font-size: small;
        height: 28px;
        text-align: center;
    }

    /*--------------------------------------------Footer*/

    .fa-brands {
        font-size: 15px;
        padding: 4px;

    }

    /*-----------------------------------Head Titles and Sub Headings*/
    .main-page-title {
        font-size: xx-large;

    }

    .cv-title {
        text-align: center;
        text-decoration: underline;
        font-size: xxx-large;
    }


    .center {
        font-weight: 400;
        text-align: center;
    }

    .sub-title-cv {
        padding-right: 17px;
    }

    .place-of-study {
        font-size: 17px;
    }

    /*-----------------------------------Paragraphs of Text*/

    .media-paragraphs {
        font-size: large;
    }

    /*-----------------------------------Content*/
    body {
        margin-bottom: 100px;
    }

    .carousel-inner {
        position: sticky;
        width: 100%;
    }

    .education-section {
        list-style: none;
        padding-left: 25px;
    }

    .fa-spinner {
        color: #DBE4EE;
        font-size: 75px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;
        border-radius: 8px;
        width: 30px;
    }

}

/*--------------------------------------------Mobile X-Small*/
@media (max-width: 320px) {

    /*--------------------------------------------Colour*/
    .card-header {
        background-color: #575A5E;

    }

    .btn {
        --bs-card-bg: #F4F7F5;
        color: white;
        text-decoration: none;
    }

    .mb-0 {
        text-decoration: none;
        color: white;
    }

    /*--------------------------------------------Navigation Bar*/
    #nav {
        font-size: 12px;
        height: 28px;
    }

    /*--------------------------------------------Footer*/

    #socials {
        font-size: smaller;
    }

    .fa-brands {
        font-size: 15px;
        padding: 4px;

    }

    /*-----------------------------------Head Titles and Sub Headings*/
    .main-page-title {
        font-size: xx-large;

    }

    .center {
        text-decoration: underline;
        font-size: xx-large;
        font-weight: 800;
    }

    .place-of-study {
        font-size: medium;
    }


    /*-----------------------------------Content*/
    .list-item {
        font-size: small;
    }

    body {
        margin-bottom: 100px;
    }

    .carousel-inner {
        position: sticky;
        width: 100%;
    }

    .fa-spinner {
        color: #DBE4EE;
        font-size: 75px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

}